<html>
    <head>
    </head>
    <body>
        <h1 align="center" >Road To Djoe</h1>
        <div align="right"><a href="http://127.0.0.1:5000/djoe/" align="right"><button type="button">NOTRE TORTANK</button> </a></div>
        
        <form action="/resultats" method="post">
            <div>
                <label for="name">Nom :</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="bob">qui vit dans un ananas sous la mer ?</label>
                <input type="txt" id="bob" name="bob">
            </div>
            <div>
                <label for="recette">lien de la recette</label>
               <input type="txt" id="recette" name="recette">
            </div>
        </form>
    </body>
</html>